body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-align: center;
  align-items: stretch;
  align-content: space-between;
  background-color: #3d3d3d;
  color: #aaa;
  padding:0;
  margin:0;
  background:#000;
}

body>div {
  display: flex;
  flex-direction: column;
}

#logo {
  height:81px;
  background:#000;
  padding:20px;
}

#base-status h3 {
  display:none;
}

#current-location {
  display:none;
}

#actions button {
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  width:6em;
  height: 1.5em;
  font-size: 3em;
  background: rgb(202, 60, 60);
  color: #fff;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#action {
  display:none;
}

#enemies .enemy {
  background-image: url("../images/enemy.gif");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 10px;
  margin: 1em 0;
  width:32px;
  height:32px;
}

#ammunition .bullet {
  background-image: url("../images/bullet.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  padding: 10px;
  width:32px;
  height:32px;
}

.game-over {
  display:none;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}
