body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-align: center;
  align-items: stretch;
  align-content: space-between;
  background-color: #3d3d3d;
  color: #aaa;
}
body>div {
  display: flex;
  flex-direction: column;
}
#base-status {
}
#current-location {
  background: #277552;
}
#actions button {
  height: 2em;
  font-size: 3em;
}
#enemies .enemy {
  background-image: url("enemy.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 10px;
  margin: 1em 0;
}
#ammunition .bullet {
  background-image: url("bullet.gif");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  padding: 10px;
}
