body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-align: center;
  align-items: stretch;
}
body>div {
  display: flex;
  flex-direction: column;
}
#base-status {
}
#current-location {
  background: #277552;
}
#action {
}
#action button { height: 10vh }
